

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: red;
} */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

body{
    font-family: 'Cormorant Garamond', serif;
    /* font-weight: bold; */
    /* font-size: 1.5rem; */
    /* position: absolute; */
    display: flex;
/* flex-direction: column; */
    justify-content: center;
/* align-items: center; */
}


.container{
    position: absolute;
    /* width: 600px; */
    width: 95%;
    /* height: 100%; */
    /* margin: 5px auto; */
    
    max-width: 700px;
    
    /* background-color: aqua; */
    color: rgba(2, 5, 34, 0.822);
}


.nav{
    font-size: 1rem;
    /* width: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}


.right-nav{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.time-date{
    /* background-color: blue; */
    
}

.header{
    /* background-color: white; */
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem auto; */

}

.location-name{
    font-size: 1rem;

}

.temperature{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    /* background-color: rgb(209, 200, 146); */
    /* margin-top: -3rem; */
}

span.cel{
    position: relative;
    font-size: 2rem;
    /* background-color: gold; */
    /* text-align: start; */
    /* margin-top: 15.5em; */
}

.discripton,
.temperatureRange{
    font-size: 1.2rem;
}


.body{
    /* margin-top: 2rem; */
    margin-top: 10%;
    /* background-color: red; */
    /* font: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.status{
    margin: .5rem;
    /* display: flex; */
    /* justify-content: center; */
    font-size: 1rem;
    /* width: 70%; */
    /* width: 500px; */
    /* background-color: blue; */
}

.status span{
    /* background-color: aliceblue; */
    font-size: 1rem;
}



/* bottom body */
.body_bottom{
    background-color: rgba(187, 188, 218, 0.329);
    padding: 0px 15px;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    font-size: 1rem;

    /* justify-content: start; */
    /* align-items: none; */
    /* overflow-x: scroll; */

    /* scroll-snap-type: none; */
    /* overflow-x: scroll; */
    /* overflow-block: hidden; */
    /* overflow-wrap: break-word; */
}

.another{
    display: flex;
    /* background-color: blue; */
}

.child{
    padding: 1rem;
    width: 100%;
    /* font-size: 1rem; */
    /* background-color: red; */
}


@media only screen and (max-width:730px) {
    .body_bottom{
        justify-content: start; 
        align-items: none; 
        overflow-y: scroll; 
    }
    
}

.body_bottom .current_day{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    position: relative;
    /* width: 35rem; */
    padding: 1rem 2rem;

}

.body_bottom .current_day img{
    /* float: left; */
    /* width: 3rem; */
    /* background-color: blue; */
    
}

.cd_right_side{
    width: 6rem;
    height: 10rem;
    /* padding: 3rem ; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */
}

.current_day{
    /* padding: 1rem 5rem; */
}